body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bilbao_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 150px 0;
}

header h1 {
  font-family: "Monomakh", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  line-height: 1;
  margin: 30px 0;
}

header p {
  font-weight: 700px;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 15px;
}

header h3 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(69, 65, 65);
  text-decoration: none;
  background: white;
  padding: 16px 32px;
  display: inline-block;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h3 {
    font-size: 15px;
  }

  header p {
    font-size: 20px;
  }
}

.footer_heading {
  font-family: "Monomakh", system-ui;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/bilbao_footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

/*
.footer_col1 {
  padding-left: 25px;
}

.footer_col2 {
  margin-left: 20px;
}
