body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/bilbao_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  text-align: center;
  padding: 150px 0;
}

header h1 {
  font-family: "Monomakh", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  line-height: 1;
  margin: 30px 0;
}

header p {
  font-weight: 700px;
  font-size: 25px;
  line-height: 1.5;
  margin: 0;
  padding-bottom: 15px;
}

header h3 {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 1px;
  color: rgb(69, 65, 65);
  text-decoration: none;
  background: white;
  padding: 16px 32px;
  display: inline-block;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}

.footer_heading {
  font-family: "Monomakh", system-ui;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/bilbao_footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 0;
}

footer p {
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul {
  padding: 0;
}

footer a {
  color: white;
}

main h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 2px;
  color: #030303;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-family: "Monomakh", system-ui;
  font-weight: 700;
  font-size: 35px;
  line-height: 1.5;
  margin: 0;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

.card h5 {
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding-top: 15px;
}

.card-header.grid {
  grid-gap: 0;
}

.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  padding: 16px;
  background-color: black;
  text-decoration: none;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background: rgb(251, 250, 250);
}

.img-responsive {
  width: 100%;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-equal-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.text-centered {
  text-align: center;
}

.my-photos {
  margin: 30px 0;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }

  section {
    padding: 30px;
  }

  .card-header img {
    display: none;
  }

  .embedv {
    aspect-ratio: 16 / 9;
  }
}
/*
.footer_col1 {
  padding-left: 25px;
}

.footer_col2 {
  margin-left: 20px;
} */
